<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>EmployeeList</title>
</head>
<body>
    <div class="container">
        <h2>Create Employee</h2>

        <form action="#" th:action="@{/empcreate}" th:object="${employee}" method="post">
            <p>Id: <input type="text" th:field="*{employeeID}"/></p>
            <p>FName: <input type="text" th:field="*{firstName}"/></p>
            <p>LName: <input type="text" th:field="*{lastName}"/></p>
            <p>Country: <input type="text" th:field="*{country}"/></p>
            <p>DOB: <input type="date" th:field="*{dateOfBirth}"/></p>

            <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        </form>

    </div>
</body>
</html>