<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>

<body>
    <div class="container">
    <h1>Home Page</h1>

    <ul>
        <li><a href="employees">List of Employees</a></li>
        <li><a href="empcreate">Create Employee</a></li>
        <li><a href="api/employees">List of Employees in JSON format</a></li>

    </ul>
    </div>
</body>
</html>